<ion-tabs>

  <ion-tab-bar slot="bottom">
    <ion-tab-button (click)="goPage('cliente-listar')">
      <ion-icon name="triangle"></ion-icon>
      <ion-label>Cliente</ion-label>
    </ion-tab-button>
   
    <ion-tab-button (click)="goPage('home')" >
      <ion-icon name="triangle"></ion-icon>
      <ion-label>Inicial</ion-label>
    </ion-tab-button>

    <ion-tab-button (click)="goPage('produto-listar')">
      <ion-icon name="square"></ion-icon>
      <ion-label>Produto</ion-label>
    </ion-tab-button>
  </ion-tab-bar>

</ion-tabs>